<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to THE WORLD</title>
    <link rel="stylesheet" href="./css/country-home.css">
</head>
<body>
    <%- include('./partials/_navbar') %> 
    <section id="main-section">
        <div id="intro-section">
            <div id="heading">
            </div>
            <div id="edit">
                <a href="/country/<%= countryData.id %>/edit">Edit</a>
            </div>
        </div>
        <div id="main-container">
            <aside id="left-aside">
                <div id="show-hide-button">S</div>
                <div id="side-navigation-panel">
                    <div class="nav-list" id="list-home" onclick="location.href='./country?name=<%= countryData.name %> '" >Home</div>
                </div>
            </aside>
            <article id="main-article">
                <div id="topic">
                    <div id="name-container">
                        <div id="primary-name-container"> 
                            <div id="primary-name"><%= countryData.name %> </div>
                        </div>
                        <div id="official-name-container">
                            <div id="official-name"><%= countryData.official_name %> </div>
                        </div>
                    </div>
                    <div id="symbol-container">
                        <div id="flag-container">
                            <img src="/img/flags2/<%= countryData.code.toLowerCase() %>.png" alt="">
                        </div>
                        <div id="emblem-container">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div id="description-container">
                    <p id="description">
                        <%= countryData.description %>     
                    </p>
                </div>
                <div class="fact-container" id="fact-container1">
                    <div class="sub-fact-container" id="sub-fact-cont1">
                        <div class="facts" id="capital-container">
                            <div class="fact-label" id="capital-label">Capital city</div>
                            <div class="fact-value" id="capital-value"><%= countryData.capital_city %> </div>
                        </div>
                        <div class="facts" id="largest-city-container">
                            <div class="fact-label" id="largest-city-label">Largest city</div>
                            <div class="fact-value" id="largest-city-value"><%= countryData.largest_city %> </div>
                        </div>
                        <div class="facts" id="total-area-container">
                            <div class="fact-label" id="total-area-label">Total area (Km sq.)</div>
                            <div class="fact-value" id="total-area-value"><%= countryData.total_area %> </div>
                        </div>
                        <div class="facts" id="land-area-container">
                            <div class="fact-label" id="land-area-label">Land area (Km sq.)</div>
                            <div class="fact-value" id="land-area-value"><%= countryData.land_area %> </div>
                        </div>
                        <div class="facts" id="population-container">
                            <div class="fact-label" id="population-label">Current population</div>
                            <div class="fact-value" id="population-value"><%= countryData.population %> </div>
                        </div>
                        <div class="facts" id="currency-container">
                            <div class="fact-label" id="currency-label">Currency</div>
                            <div class="fact-value" id="currency-value"><%= countryData.currency %> </div>
                        </div>
                    </div>
                    <div class="sub-fact-container" id="sub-fact-cont2">
                        <div class="facts" id="motto-container">
                            <div class="fact-label" id="motto-label">Motto</div>
                            <div class="fact-value" id="motto-value"><%= countryData.motto %> </div>
                        </div>
                        <div class="facts" id="national-anthem-container">
                            <div class="fact-label" id="national-anthem-label">National anthem</div>
                            <div class="fact-value" id="national-anthem-value"><%= countryData.national_anthem %> </div>
                        </div>
                        <div class="facts" id="president-container">
                            <div class="fact-label" id="president-label">President</div>
                            <div class="fact-value" id="president-value"><%= countryData.president %> </div>
                        </div>
                        <div class="facts" id="prime-minister-container">
                            <div class="fact-label" id="prime-minister-label">Prime minister</div>
                            <div class="fact-value" id="prime-minister-value"><%= countryData.prime_minister %> </div>
                        </div>
                        <div class="facts" id="supreme-leader-container">
                            <div class="fact-label" id="supreme-leader-label">Supreme leader</div>
                            <div class="fact-value" id="supreme-leader-value"><%= countryData.prime_minister %> </div>
                        </div>
                        <div class="facts" id="time-zone-container">
                            <div class="fact-label" id="time-zone-label">Time zone</div>
                            <div class="fact-value" id="time-zone-value"><%= countryData.time_zone %> </div>
                        </div>
                    </div>
                    <div class="sub-fact-container" id="sub-fact-cont3">
                        <div class="facts" id="none">
                            <div class="fact-label" id="none">Fact Not available</div>
                            <div class="fact-value" id="none">Data Not available</div>
                        </div>
                        <div class="facts" id="none">
                            <div class="fact-label" id="none">Fact Not available</div>
                            <div class="fact-value" id="none">Data Not available</div>
                        </div>
                        <div class="facts" id="none">
                            <div class="fact-label" id="none">Fact Not available</div>
                            <div class="fact-value" id="none">Data Not available</div>
                        </div>
                        <div class="facts" id="none">
                            <div class="fact-label" id="none">Fact Not available</div>
                            <div class="fact-value" id="none">Data Not available</div>
                        </div>
                        <div class="facts" id="none">
                            <div class="fact-label" id="none">Fact Not available</div>
                            <div class="fact-value" id="none">Data Not available</div>
                        </div>
                        <div class="facts" id="none">
                            <div class="fact-label" id="none">Fact Not available</div>
                            <div class="fact-value" id="none">Data Not available</div>
                        </div>
                    </div>
                </div>
                <!-- extra container hidden -->
                <!-- <div class="fact-container" id="fact-container2">
                    <div class="sub-fact-container" id="sub-fact-cont3">
                        <div class="facts">
                            <div class="facts" id="container1">
                                <div class="fact-label" id="label1">Fact not available</div>
                                <div class="fact-value" id="value1">Value not available</div>
                            </div>
                        </div>
                        <div class="facts">
                            <div class="facts" id="container2">
                                <div class="fact-label" id="label2">Fact not available</div>
                                <div class="fact-value" id="value2">Value not available</div>
                            </div>
                        </div>
                        <div class="facts">
                            <div class="facts" id="container3">
                                <div class="fact-label" id="label3">Fact not available</div>
                                <div class="fact-value" id="value3">Value not available</div>
                            </div>
                        </div>
                        <div class="facts">
                            <div class="facts" id="container4">
                                <div class="fact-label" id="label4">Fact not available</div>
                                <div class="fact-value" id="value4">Value not available</div>
                            </div>
                        </div>
                        <div class="facts">
                            <div class="facts" id="container5">
                                <div class="fact-label" id="label5">Fact not available</div>
                                <div class="fact-value" id="value5">Value not available</div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </article>
            <aside id="right-aside">
            </aside>
        </div>
    </section>
    <footer>
        <div id="footer">
            
        </div>
    </footer>
    <!-- scripts -->
    <script src="./js/side-nav-panel.js"></script>
</body>
</html>