<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to THE WORLD</title>
    <link rel="stylesheet" href="./css/country-home.css">
</head>
<body>
    <%- include('./partials/_navbar') %> 
    <section id="main-section">
        <div id="intro-section">
            <div id="heading">
            </div>
            <div id="edit">
                <a href="/country/<%= countryData.id %>/edit">Edit</a>
            </div>
        </div>
        <div id="main-container">
            <aside id="left-aside">
                <%- include('./partials/_side-panel') %> 
            </aside>
            <article id="main-article">
                <div id="topic">
                    <div id="identity-container">
                        <div id="name-container">
                            <div id="primary-name-container"> 
                                <div id="primary-name"><%= countryData.name %> </div>
                            </div>
                            <div id="official-name-container">
                                <div id="official-name"><%= countryData.official_name %> </div>
                            </div>
                        </div>
                        <div id="symbol-container">
                            <div id="national-flag-container"></div>
                            <div id="national-emblem-container">
                                <div id="emblem-img"></div>
                                <div id="emblem-name"></div>
                            </div>
                        </div>
                        <div class="facts" id="motto-container">
                            <div class="fact-label" id="motto-label">Motto : </div>
                            <div class="fact-value" id="motto-value"></div>
                        </div>
                        <div id="national-anthem-container">
                            <div class="facts" id="national-anthem-name-container">
                                <div class="fact-label" id="national-anthem-label">National Anthem :</div>
                                <div class="fact-value" id="national-anthem-local-value"></div>
                                <div class="fact-value" id="national-anthem-english-value"></div>
                            </div>
                            <div id="national-anthem-media">
                                <div id="anthem-play-button"></div>
                                <div id="status-anthem-status-bar"></div>
                                <div id="anthem-time-status"></div>
                            </div>
                        </div>
                        <div class="facts" id="national-song-container">
                            <div class="fact-label" id="national-song-label">National Song :</div>
                            <div class="fact-value" id="national-song-value"></div>
                        </div>
                    </div>
                    <div id="map-container">
                        <div id="country-on-gmap"></div>
                    </div>
                </div>
                <div id="description-container">
                    <p id="description">
                        <%= countryData.description %>     
                    </p>
                </div>
                <div class="fact-container" id="fact-container1">
                    <div class="sub-fact-container" id="sub-fact-cont1">
                        <div class="facts" id="official-language-container">
                            <div class="fact-label" id="official-language-label">Official language(s)</div>
                            <div class="fact-value" id="official-language-value"><%= countryData.official_language %> </div>
                        </div>
                        <div class="facts" id="capital-container">
                            <div class="fact-label" id="capital-label">Capital city</div>
                            <div class="fact-value" id="capital-value"><%= countryData.capital_city %> </div>
                        </div>
                        <div class="facts" id="largest-city-container">
                            <div class="fact-label" id="largest-city-label">Largest city</div>
                            <div class="fact-value" id="largest-city-value"><%= countryData.largest_city %> </div>
                        </div>
                        <div class="facts" id="total-area-container">
                            <div class="fact-label" id="total-area-label">Total area (Km sq.)</div>
                            <div class="fact-value" id="total-area-value"><%= countryData.total_area %> </div>
                        </div>
                        <div class="facts" id="land-area-container">
                            <div class="fact-label" id="land-area-label">Land area (Km sq.)</div>
                            <div class="fact-value" id="land-area-value"><%= countryData.land_area %> </div>
                        </div>
                        <div class="facts" id="water-container">
                            <div class="fact-label" id="water-label">Water(%)</div>
                            <div class="fact-value" id="water-value">0</div>
                        </div>
                        <div class="facts" id="currency-container">
                            <div class="fact-label" id="currency-label">Currency</div>
                            <div class="fact-value" id="currency-value"><%= countryData.currency %> </div>
                        </div>
                        <div class="facts" id="demonym-container">
                            <div class="fact-label" id="demonym-label">Demonym(s)</div>
                            <div class="fact-value" id="demonym-value">none</div>
                        </div>
                        <div class="facts" id="time-zone-container">
                            <div class="fact-label" id="time-zone-label">Time zone</div>
                            <div class="fact-value" id="time-zone-value"><%= countryData.time_zone %> </div>
                        </div>
                    </div>
                    <div class="sub-fact-container" id="sub-fact-cont2">
                        <div class="fact-group-heading" id="government-heading">Government</div>
                        <div class="facts" id="president-container">
                            <div class="fact-label" id="president-label">President</div>
                            <div class="fact-value" id="president-value"><%= countryData.president %> </div>
                        </div>
                        <div class="facts" id="prime-minister-container">
                            <div class="fact-label" id="prime-minister-label">Prime minister</div>
                            <div class="fact-value" id="prime-minister-value"><%= countryData.prime_minister %> </div>
                        </div>
                        <div class="facts" id="supreme-leader-container">
                            <div class="fact-label" id="supreme-leader-label">Supreme leader</div>
                            <div class="fact-value" id="supreme-leader-value"><%= countryData.prime_minister %> </div>
                        </div>
                        <div class="fact-group-heading" id="gdp-heading">GDP</div>
                        <div class="facts" id="total-nominal-gdp-container">
                            <div class="fact-label" id="total-nominal-gdp-label">Total (nominal)</div>
                            <div class="fact-value" id="total-nominal-gdp-value">0</div>
                        </div>
                        <div class="facts" id="per-capita-nominal-gdp-container">
                            <div class="fact-label" id="per-capita-nominal-gdp-label">Per capita (nominal)</div>
                            <div class="fact-value" id="per-capita-nominal-gdp-value">0</div>
                        </div>
                        <div class="facts" id="total-ppp-gdp-container">
                            <div class="fact-label" id="total-ppp-gdp-label">Total (PPP)</div>
                            <div class="fact-value" id="total-ppp-gdp-value">0</div>
                        </div>
                        <div class="facts" id="per-capita-ppp-gdp-container">
                            <div class="fact-label" id="per-capita-ppp-gdp-label">Per capita (PPP)</div>
                            <div class="fact-value" id="per-capita-ppp-gdp-value">0</div>
                        </div>
                    </div>
                    <div class="sub-fact-container" id="sub-fact-cont3">
                        <div class="fact-group-heading" id="population-heading">Population</div>
                        <div class="facts" id="current-population-container">
                            <div class="fact-label" id="current-population-label">Current population(estm.)</div>
                            <div class="fact-value" id="current-population-value">0</div>
                        </div>
                        <div class="facts" id="census-population-container">
                            <div class="fact-label" id="census-population-label">Census population (2000)</div>
                            <div class="fact-value" id="census-population-value">0</div>
                        </div>
                        <div class="facts" id="population-density-container">
                            <div class="fact-label" id="population-density-label">population density</div>
                            <div class="fact-value" id="population-density-value">0</div>
                        </div>
                        <div class="facts" id="growth-rate-container">
                            <div class="fact-label" id="growth-rate-label">Growth rate</div>
                            <div class="fact-value" id="growth-rate-value">0</div>
                        </div>
                        <div class="fact-separator"></div>
                        <div class="facts" id="gini-container">
                            <div class="fact-label" id="gini-label">Gini index</div>
                            <div class="fact-value" id="gini-value">none</div>
                        </div>
                        <div class="facts" id="hdi-container">
                            <div class="fact-label" id="hdi-label">HDI</div>
                            <div class="fact-value" id="hdi-value">HDI</div>
                        </div>
                        <div class="facts" id="calling-code-container">
                            <div class="fact-label" id="calling-code-label">Calling code</div>
                            <div class="fact-value" id="calling-code-value">+0</div>
                        </div>
                        <div class="facts" id="driving-side-container">
                            <div class="fact-label" id="driving-side-label">Driving side</div>
                            <div class="fact-value" id="driving-side-value">left</div>
                        </div>
                    </div>
                </div>
                <div class="fact-container" id="fact-container2">
                    <div class="sub-fact-container" id="sub-fact-cont4">
                        <div class="facts" id="religion-container">
                            <div class="fact-label" id="religion-label">Religion(s)</div>
                            <div class="fact-value" id="religion-value"><%= countryData.religion %> </div>
                        </div>
                        <div class="facts" id="ethinic-groups-container">
                            <div class="fact-label" id="ethinic-groups-label">Ethinic groups</div>
                            <div class="fact-value" id="ethinic-groups-value"><%= countryData.ethinic_groups %> </div>
                        </div>
                        <div class="facts" id="membership-container">
                            <div class="fact-label" id="membership-label">Membership(s)</div>
                            <div class="fact-value" id="membership-value"><%= countryData.membership %> </div>
                        </div>
                        <div class="facts" id="formation-container">
                            <div class="fact-label" id="formation-label">Formation</div>
                            <div class="fact-value" id="formation-value"><%= countryData.formation %> </div>
                        </div>
                    </div>
                </div>
            </article> 
            <aside id="right-aside">
            </aside>
        </div>
    </section>
    <footer>
        <div id="footer"></div>
    </footer>
    <!-- scripts -->
    <script src="./js/country-gmap.js" capital="<%= countryData.capital_coordinates %>"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=gmapApiKey%>&callback=initMap&libraries=&v=weekly" async></script>
</body>
</html>